header{
    background-color: darkgrey;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
}
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;

}

ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-left: auto;align-items: center;
    justify-content: center;
}
